<h1>Gestão de Tarefas</h1>

<table>
  <thead>
  <tr>
    <th>Título</th>
    <th>Status</th>
    <th>URL</th>
    <th>Ações</th>
  </tr>
  </thead>
  <tbody>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.status %></td>
      <td><%= task.url %></td>
      <td>
        <%= link_to 'Editar', edit_task_path(task) %> |
        <%= link_to 'Excluir', task, method: :delete, data: { confirm: 'Tem certeza?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Criar Nova Tarefa', new_task_path %>
