<!DOCTYPE html>
<html>
  <head>
    <title>C2sTaskManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="container">
    <%= button_to 'Logout', logout_path, method: :delete, class: 'btn btn-danger btn-sm' %>

    <%= yield %>
  </div>
  </body>
</html>
